/* @theme data-shed */

@import 'default';

:root {
    /* Variables */
    /* (from the brand guidelines) */
    --primary-orange: #ff8c27;
    --primary-purple: #5c59a7;
    --primary-green: #5cdcc1;
    --secondary-blue: #28b4e5;
    --secondary-crimson: #d73455;
    --secondary-yellow: #ffd81c;
    --grey-1: #f2f2f2;
    --grey-2: #a0a0a0;
    --grey-3: #545454;
    --grey-4: #444444;

    
  width: 1280px;
  height: 960px;
}

* {
    font-family: 'Catamaran', 'Calibri', sans-serif;
    font-size: 1em;
    color: var(--primary-purple);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: var(--primary-orange);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    color: var(--primary-purple)
}

h3 {
    font-size: 2em;
    color: var(--primary-green)
}

section {
    
    width: 1920px;
    height: 1080px;
    background-color: rgb(255, 255, 255);
    
    padding: 40px;
}

img {
    width: auto;
    background: none;
}

img.no-responsive {
    width: auto;
}

header > img {
    height: 70px;
}
footer > img {
    height: 110px;
}